node_modules
.next
dist
dist-electron
out
release
coverage
.turbo
*.tsbuildinfo
pnpm-lock.yaml
plugins/woocommerce
apps/web/.next
apps/desktop/release
apps/desktop/release-mac
docs/**/*.md
packages/db/migrations/*.sql
*.tsv
*.csv
